SlimIOCP/SlimIOCP/bin
SlimIOCP/SlimIOCP/obj
SlimIOCP/SlimIOCP.DemoClient/bin
SlimIOCP/SlimIOCP.DemoClient/obj
SlimIOCP/SlimIOCP.DemoServer/bin
SlimIOCP/SlimIOCP.DemoServer/obj
SlimIOCP/SlimIOCP.Mono/bin
SlimIOCP/SlimIOCP.Mono/obj
SlimIOCP/SlimIOCP.Shared/bin
SlimIOCP/SlimIOCP.Shared/obj
*.pidb
*.userprefs
*.user
*.sln
*.csproj
*.unityproj
*.suo
*.pdb
*.dll
